	.navbar {
		left: 0;
		position: fixed;
		top: 0;
	}
	.navbar,.navbar-spacer {
		background: none repeat scroll 0 0 #fff; 
		border-bottom: 1px solid #bbb;
		border-top: 1px solid #bbb;
		display: block;
		height: 6.0rem;
		width: 100%;
		z-index: 99;
	}
	.navbar-list {
		list-style: outside none none;
		margin-bottom: 0;
	}
	.navbar-item {
		float: right;
		margin-bottom: 0;
		position: relative;
	}
	.mybut {
		color: #222;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.2rem;
		line-height: 6.0rem;
		margin-right: 35px;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		height: 38px;
		padding: 0 30px;
		color: #555;
		text-align: center;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #bbb;
		cursor: pointer;
		box-sizing: border-box;
		margin-top: 1.3rem;
	}
	.theme_list {
	margin-left: 4rem;
	float: left;
	margin-top: 20px;
	width: 40%;
	height: 230px;
	border: 1px solid #bbb;
}

/* @media screen and (max-width: 764px) {
	.navbar-list {
		list-style: outside none none;
		margin-bottom: 0;
		display: none;
	}
	.navbar-item {
		float: right;
		margin-bottom: 0;
		position: relative;
	}
	.mybut {
		color: #222;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.2rem;
		line-height: 6.0rem;
		margin-right: 35px;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		height: 38px;
		padding: 0 30px;
		color: #555;
		text-align: center;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #bbb;
		cursor: pointer;
		box-sizing: border-box;
		margin-top: 1.3rem;
		margin-left: 1rem;
	}
	.theme_list {
	margin-left: 4rem;
	float: left;
	margin-top: 20px;
	width: 80%;
	height: 230px;
	border: 1px solid #bbb;
}
}
 */
